<p-panel header="Visualization Options">
  <div class="attr pad-lr">
    <p>Visualization</p>
    <p-select
      [options]="selectableVisualizationTypes"
      [formControl]="visualizationTypeControl"
    />
  </div>
  <div class="options">
    <p-accordion [value]="[]">
      <p-accordion-panel value="0">
        <p-accordion-header>Title</p-accordion-header>
        <p-accordion-content>
          <div class="sub">
            <div class="attr">
              <p>Enabled</p>
              <p-checkbox />
            </div>
            <div class="attr">
              <p>Title</p>
              <input pInputText placeholder="Title" />
            </div>
          </div>
        </p-accordion-content>
      </p-accordion-panel>
      <p-accordion-panel value="1">
        <p-accordion-header>Legend</p-accordion-header>
        <p-accordion-content>
          <div class="sub">
            <div class="attr">
              <p>Enabled</p>
              <p-checkbox />
            </div>
            <div class="attr">
              <p>Position</p>
              <p-select [options]="['top', 'bottom', 'left', 'right']" />
            </div>
          </div>
        </p-accordion-content>
      </p-accordion-panel>
      <p-accordion-panel value="2">
        <p-accordion-header>Tooltip</p-accordion-header>
        <p-accordion-content>
          <div class="sub">
            <input pInputText placeholder="something" />
          </div>
        </p-accordion-content>
      </p-accordion-panel>
      @switch (visualizationType) {
        @case (VisualizationType.LINE) {
          <p-accordion-panel value="3">
            <p-accordion-header>Line</p-accordion-header>
            <p-accordion-content>
              <div class="sub">
                <input pInputText placeholder="something" />
              </div>
            </p-accordion-content>
          </p-accordion-panel>
        }
        @case (VisualizationType.BAR) {}
        @case (VisualizationType.PIE) {}
        @default {}
      }
    </p-accordion>
  </div>
</p-panel>
