<p-panel header="Visualization Options">
  <div class="attr pad-lr">
    <p>Visualization</p>
    <p-select
      [options]="selectableVisualizationTypes"
      [formControl]="visualizationTypeControl"
    />
  </div>
  <div class="options">
    <p-accordion [value]="[]">
      <!-- Basic options -->
      <p-accordion-panel value="0">
        <p-accordion-header>Title</p-accordion-header>
        <p-accordion-content>
          <datacat-title-options [formGroup]="optionsGroup('title')" />
        </p-accordion-content>
      </p-accordion-panel>
      <p-accordion-panel value="1">
        <p-accordion-header>Legend</p-accordion-header>
        <p-accordion-content>
          <datacat-legend-options [formGroup]="optionsGroup('legend')" />
        </p-accordion-content>
      </p-accordion-panel>
      <p-accordion-panel value="2">
        <p-accordion-header>Tooltip</p-accordion-header>
        <p-accordion-content>
          <datacat-tooltip-options [formGroup]="optionsGroup('tooltip')" />
        </p-accordion-content>
      </p-accordion-panel>

      <!-- Type-dependent options -->
      @switch (visualizationType) {
        @case (VisualizationType.LINE) {}
        @case (VisualizationType.BAR) {}
        @case (VisualizationType.PIE) {}
        @default {}
      }
    </p-accordion>
  </div>
</p-panel>
