<p-button label="Delete" severity="danger" (onClick)="showDeletionDialog()" />
<p-dialog
  header="Delete notification group?"
  [(visible)]="isDeletionDialogVisible"
  [closable]="false"
  [modal]="true"
>
  <p>Are you sure you want to delete this notification group?</p>
  @if (isDeletionError) {
    <p class="text-secondary error">Unable to delete notification group</p>
  }
  <div class="actions-container">
    <p-button
      label="Cancel"
      severity="secondary"
      (onClick)="hideDeletionDialog()"
    />
    <p-button
      [loading]="isDeletionInitiated"
      label="Delete"
      severity="danger"
      (onClick)="deleteNotificationGroup()"
    />
  </div>
</p-dialog>
