<form class="creation-form" [formGroup]="editForm">
  <div class="creation-form__item">
    <p>Description</p>
    <textarea
      pInputText
      cols="40"
      rows="3"
      placeholder="Description"
      formControlName="description"
    >
    </textarea>
  </div>
  <div class="creation-form__item">
    <p>Query</p>
    <textarea
      pInputText
      cols="40"
      rows="3"
      placeholder="Query"
      formControlName="query"
    ></textarea>
  </div>
  <div class="creation-form__item">
    <p>Notification Template</p>
    <textarea
      pInputText
      cols="40"
      rows="3"
      placeholder="Template"
      formControlName="template"
    ></textarea>
  </div>
  <div class="creation-form__items">
    <div class="creation-form__item">
      <p>Execution interval</p>
      <p-inputmask
        mask="99:99:99"
        placeholder="01:00:00"
        formControlName="executionInterval"
      />
    </div>
    <div class="creation-form__item">
      <p>Notification Trigger Period</p>
      <p-inputmask
        mask="99:99:99"
        placeholder="01:00:00"
        formControlName="notificationTriggerPeriod"
      />
    </div>
  </div>
  <div class="creation-form__items">
    <div class="creation-form__item">
      <p>Data Source</p>
      <datacat-data-source-select
        [filter]="{ purpose: 'metrics' }"
        formControlName="dataSourceId"
      />
    </div>
    <div class="creation-form__item">
      <p>Notification Group</p>
      <datacat-notification-group-select
        formControlName="notificationGroupName"
        optionValue="name"
      />
    </div>
  </div>
  <div class="creation-form__item">
    <p>Tags</p>
    <p-inputgroup>
      <p-inputgroup-addon>
        <p-button
          icon="pi pi-plus"
          label="Add"
          severity="secondary"
          [disabled]="editForm.disabled"
          (onClick)="addEditFormTag()"
        />
      </p-inputgroup-addon>
      <input pInputText placeholder="tag..." [formControl]="addTagControl" />
    </p-inputgroup>
  </div>
  <div class="creation-form__tags">
    @for (tag of editFormTags; track tag) {
      <p-chip
        [removable]="true"
        [label]="tag"
        (onRemove)="removeEditFormTag(tag)"
      />
    }
  </div>
  <div class="creation-form__footer">
    <p-button
      label="Save"
      severity="secondary"
      (onClick)="saveAlert()"
      [loading]="isSavingInitiated"
    />
  </div>
</form>
