<p-panel header="Alerts">
  <p-divider />
  <div class="flex flex-row">
    <!-- <filters [availableFilters]="availableFilters" /> -->
  </div>
  <p-divider />
  <p-table [value]="alerts">
    <ng-template #header>
      <tr>
        <th>ID</th>
        <th>Brief</th>
        <th>Created At</th>
        <th>Last Status</th>
        <th pTooltip="Last Time Executed" tooltipPosition="top">LTE</th>
        <th pTooltip="Next Execution Time" tooltipPosition="top">NET</th>
      </tr>
    </ng-template>
    <ng-template #body let-alert>
      <tr>
        <td>{{ alert.id }}</td>
        <td>{{ alert.brief }}</td>
        <td>{{ alert.createdAt | date }}</td>
        <td>{{ alert.lastStatus }}</td>
        <td>{{ alert.lastTimeExecuted | date: 'shortTime' }}</td>
        <td>{{ alert.nextExecutionTime | date: 'shortTime' }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
