<p-button
  [loading]="isCreationInitiated"
  icon="pi pi-plus"
  label="Create alert"
  severity="secondary"
  (onClick)="isCreationDialogVisible = true"
/>

<p-dialog
  [modal]="true"
  [(visible)]="isCreationDialogVisible"
  header="Create alert"
>
  <form class="creation-form" [formGroup]="creationForm">
    <div class="h">
      <div class="v">
        <div class="creation-form__item">
          <p>Description</p>
          <textarea
            pInputText
            cols="40"
            rows="3"
            placeholder="Description"
            formControlName="description"
          >
          </textarea>
        </div>
        <div class="creation-form__item">
          <p>Query</p>
          <textarea
            pInputText
            cols="40"
            rows="3"
            placeholder="Query"
            formControlName="query"
          ></textarea>
        </div>
        <div class="creation-form__item">
          <p>Notification Template</p>
          <textarea
            pInputText
            cols="40"
            rows="3"
            placeholder="Template"
            formControlName="template"
          ></textarea>
        </div>
      </div>
      <div class="v">
        <div class="creation-form__item">
          <p>Execution interval</p>
          <p-inputmask
            mask="99:99:99"
            placeholder="01:00:00"
            formControlName="executionInterval"
          />
        </div>
        <div class="creation-form__item">
          <p>Notification Trigger Period</p>
          <p-inputmask
            mask="99:99:99"
            placeholder="01:00:00"
            formControlName="notificationTriggerPeriod"
          />
        </div>
        <div class="creation-form__item">
          <p>Data Source</p>
          <datacat-data-source-select
            [filter]="{ purpose: 'metrics' }"
            formControlName="dataSourceId"
          />
        </div>
        <div class="creation-form__item">
          <p>Notification Group</p>
          <datacat-notification-group-select
            formControlName="notificationGroupName"
            optionValue="name"
          />
        </div>
      </div>
    </div>
    <div class="creation-form__item">
      <p>Tags</p>
      <p-inputgroup>
        <p-inputgroup-addon>
          <p-button
            icon="pi pi-plus"
            label="Add"
            severity="secondary"
            [disabled]="creationForm.disabled"
            (onClick)="addCreationFormTag()"
          />
        </p-inputgroup-addon>
        <input pInputText placeholder="tag..." [formControl]="addTagControl" />
      </p-inputgroup>
    </div>
    <div class="creation-form__tags">
      @for (tag of creationFormTags; track tag) {
        <p-chip
          [removable]="true"
          [label]="tag"
          (onRemove)="removeCreationFormTag(tag)"
        />
      }
    </div>
    <div class="validations">
      @if (descriptionControl.invalid) {
        <p>* Description is required</p>
      }
      @if (queryControl.invalid) {
        <p>* Query is required</p>
      }
      @if (templateControl.invalid) {
        <p>* Notification temlplate is required</p>
      }
      @if (executionIntervalControl.invalid) {
        <p>* Execution interval is required</p>
      }
      @if (notificationTriggerPeriodControl.invalid) {
        <p>* Notification trigger period is required</p>
      }
      @if (dataSourceIdControl.invalid) {
        <p>* Data source is required</p>
      }
      @if (notificationGroupNameControl.invalid) {
        <p>* Notification group is required</p>
      }
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="creation-form__footer">
      <p-button
        label="Create"
        (onClick)="createAlert()"
        [loading]="isCreationInitiated"
        [disabled]="creationForm.invalid"
      />
    </div>
  </ng-template>
</p-dialog>
