.box {
  display: flex;
  flex-direction: column;
  padding: var(--p-padding-md);
  padding-top: 0;

  &__filters {
    display: flex;
    flex-wrap: wrap;
    gap: var(--p-padding-md);
  }
}

.form__item {
  display: flex;
  flex-direction: column;
  flex: 1 1 200px;
  min-width: 200px;
  gap: var(--p-padding-sm);

  p {
    color: var(--p-surface-400);
  }

  input,
  p-select {
    width: 100%;
  }
}

::ng-deep .flat-progress-bar {
  height: 4px;
  background-color: transparent;
  border-radius: 0;

  .p-progressbar-value {
    background: linear-gradient(to right, #42a5f5, #1e88e5);
    transition: width 0.3s ease-in-out;
  }

  .p-progressbar {
    border: none;
  }
}

.box__filters {
  .p-inputtext {
    height: calc(2.25rem + 2px);
  }
}
