<p-select
  placeholder="Data Source"
  optionValue="id"
  optionLabel="name"
  [showClear]="true"
  [options]="dataSources"
  [virtualScroll]="true"
  [virtualScrollOptions]="scrollerOptions"
  [loading]="isLoading"
  (onChange)="onSelect($event.value)"
  [(ngModel)]="selectedDataSource"
  appendTo="body"
>
  <ng-template pTemplate="item" let-dataSource>
    <div class="option">
      <span class="text-secondary">
        @switch (dataSource.driver) {
          @case (DataSourceDriver.PROMETHEUS) {
            <div [style]="{ width: '1.5rem', height: '1.5rem' }">
              <img
                src="/assets/icons/datasource/prometheus.png"
                [style]="{ height: '100%' }"
              />
            </div>
          }
          @case (DataSourceDriver.ELASTIC_SEARCH) {
            <div [style]="{ width: '1.5rem', height: '1.5rem' }">
              <img
                src="/assets/icons/datasource/elasticsearch.png"
                [style]="{ height: '100%' }"
              />
            </div>
          }
          @case (DataSourceDriver.JAEGER) {
            <div [style]="{ width: '1.5rem', height: '1.5rem' }">
              <img
                src="/assets/icons/datasource/jaeger.png"
                [style]="{ height: '100%' }"
              />
            </div>
          }
        }
      </span>
      {{ dataSource.name }}
    </div>
  </ng-template>
</p-select>
