
# .NET
**/bin/
**/obj/

**/Properties/

# IDE
.idea/
.vscode/
*.swp

# Byte-compiled / optimized / compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env.*
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Django / Flask local settings
*.sqlite3
*.log

# Pytest cache
.pytest_cache/
.tox/

# Static files (e.g., Django collectstatic)
staticfiles/
media/

# Packaging
*.egg-info/
dist/
build/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Other temporary files
*.tmp
*.bak
.DS_Store
Thumbs.db

# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.DataCat.iml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

**/node_modules/