<div class="layout">
  <form class="filters" [formGroup]="filtersForm">
    <div class="filters__item">
      <p>Dashboard Tags</p>
      <p-inputgroup>
        <p-inputgroup-addon>
          <p-button
            icon="pi pi-plus"
            label="Add"
            severity="secondary"
            [disabled]="filtersForm.disabled"
            (onClick)="addFilterTag()"
          />
        </p-inputgroup-addon>
        <input pInputText placeholder="tag..." [formControl]="addTagControl" />
      </p-inputgroup>
    </div>
  </form>
  @if (filtersFormTags.length !== 0) {
    <div class="tags">
      @for (tag of filtersFormTags; track tag) {
        <p-chip
          [removable]="true"
          [label]="tag"
          (onRemove)="removeFilterTag(tag)"
        />
      }
    </div>
  }
  <div class="filters__actions">
    <p-button
      icon="pi pi-sync"
      label="Refresh"
      severity="secondary"
      [loading]="filtersForm.disabled"
      (onClick)="refreshDashboards()"
    />
  </div>
  <p-table
    [value]="dashboards"
    stripedRows
    (onLazyLoad)="onLazyLoad($event)"
    [paginator]="true"
    [scrollable]="true"
    scrollHeight="30.5rem"
    [rowsPerPageOptions]="[5, 10, 20]"
    [lazy]="true"
    [first]="0"
    [totalRecords]="totalDashboardsCount"
    [rows]="dashboardsPerPageCount"
    [loading]="filtersForm.disabled"
    paginatorPosition="top"
  >
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" [style]="{ textAlign: 'center' }">
          <p-tag value="No dashboards found" severity="info" />
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Created At</th>
        <th>Last Updated At</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dashboard>
      <tr>
        <td>
          {{ dashboard.id | slice: 0 : 6
          }}<span class="text-secondary" [pTooltip]="dashboard.id">...</span>
        </td>
        <td>
          {{ dashboard.name }}
        </td>
        <td>{{ dashboard.description }}</td>
        <td>{{ dashboard.createdAt | date: 'short' }}</td>
        <td>{{ dashboard.lastUpdatedAt | date: 'short' }}</td>
        <td>
          <div class="actions">
            <p-button
              icon="pi pi-eye"
              label="View"
              size="small"
              severity="secondary"
              variant="outlined"
              (onClick)="viewDashboard(dashboard)"
            />
            <p-button
              icon="pi pi-pencil"
              label="Edit"
              size="small"
              severity="secondary"
              variant="outlined"
              (onClick)="editDashboard(dashboard)"
            />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  header="Dashboard Details"
  [modal]="true"
  [(visible)]="isDashboardViewDialogVisible"
>
  <div class="view-dashboard">
    <div class="view-dashboard__attribute">
      <p>Dashboard ID</p>
      <div>{{ viewedDashboard?.id }}</div>
    </div>
    <div class="view-dashboard__attribute">
      <p>Name</p>
      <div>{{ viewedDashboard?.name }}</div>
    </div>
    <div class="view-dashboard__attribute">
      <p>Description</p>
      <div>{{ viewedDashboard?.description }}</div>
    </div>
    <div class="view-dashboard__attribute">
      <p>Created At</p>
      <div>{{ viewedDashboard?.createdAt | date: 'short' }}</div>
    </div>
    <div class="view-dashboard__attribute">
      <p>Last Updated At</p>
      <div>{{ viewedDashboard?.lastUpdatedAt | date: 'short' }}</div>
    </div>
  </div>
</p-dialog>
