.form {
  display: flex;
  flex-direction: column;
  gap: var(--p-padding-md);
  align-items: start;

  &__item {
    display: flex;
    flex-direction: column;
    gap: var(--p-padding-sm);
  }

  &__label {
    color: var(--p-surface-400);
  }

  &__input {
    width: 100%;
  }

  &__settings {
    padding: var(--p-padding-md);
    padding-top: 0;
  }

  &__actions {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  &__submit {
    width: 100%;
    display: flex;
    justify-content: end;
  }
}

.h {
  display: flex;
  gap: var(--p-padding-lg);
}

.v {
  display: flex;
  flex-direction: column;
  gap: var(--p-padding-md);
}
