<p-button
  icon="pi pi-ban"
  text="true"
  (onClick)="isDialogVisible = true"
  severity="secondary"
  pTooltip="Mute alert"
  tooltipPosition="top"
/>

<p-dialog
  header="Mute alert"
  [(visible)]="isDialogVisible"
  [closable]="true"
  [modal]="true"
>
  <form class="form">
    <div class="item">
      <p>Mute for</p>
      <p-inputmask
        mask="99:99:99"
        placeholder="01:00:00"
        [formControl]="nextExecutionTimeControl"
      />
    </div>
    <div class="footer">
      <p-button
        label="Mute"
        [loading]="isMuteInitiated"
        (onClick)="muteAlert()"
        [disabled]="nextExecutionTimeControl.invalid"
      />
    </div>
  </form>
</p-dialog>
