<p-panel header="List of alerts" [style]="{ display: 'block', height: '100%' }">
  <p-divider />

  <!-- Filters. -->
  <div class="filtering-container">
    <p-select-button
      title="Alert status"
      [options]="alertStatuses"
      [(ngModel)]="alertsExplorerService.alertsFilter.alertStatus"
    />
    <p-input-group>
      <p-inputgroup-addon>
        <i class="pi pi-database"></i>
      </p-inputgroup-addon>
      <p-select
        placeholder="Data source"
        [showClear]="true"
        [options]="(alertsExplorerService.knownDataSources$ | async) || []"
      />
    </p-input-group>
    <p-input-group>
      <p-inputgroup-addon>
        <i class="pi pi-envelope"></i>
      </p-inputgroup-addon>
      <p-select
        placeholder="Notification channel"
        [showClear]="true"
        [options]="
          (alertsExplorerService.knownNotificationChannels$ | async) || []
        "
      />
    </p-input-group>
  </div>

  <p-divider />

  <!-- Tags. -->
  <div class="labels-container">
    @for (tag of alertsExplorerService.alertsFilter.tags; track $index) {
      <div>
        <p-chip
          [label]="tag"
          [removable]="true"
          (onRemove)="alertsExplorerService.removeTag(tag)"
        />
      </div>
    }
    <p-button
      severity="secondary"
      (onClick)="addTagPopover.toggle($event)"
      label="Add tag"
      size="small"
    />
    <p-popover #addTagPopover>
      <input pInputText placeholder="enter tag" [(ngModel)]="tag" />
      <p-button label="add" (onClick)="alertsExplorerService.addTag(tag)" />
    </p-popover>
  </div>

  <p-divider />

  <!-- Alerts count by state. -->
  <div class="stats-container">
    @for (
      entry of (alertsExplorerService.alertsCountsByState$ | async)?.entries();
      track $index
    ) {
      <p-tag
        [value]="entry[1] + ' ' + entry[0]"
        [severity]="severityFromStatus(entry[0])"
      />
    }
  </div>

  <p-divider />

  <!-- Alerts table with pagination. -->
  <p-table
    [value]="(alertsExplorerService.alerts$ | async) || []"
    stripedRows
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
    (onPage)="pageChange($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Status</th>
        <th
          pTooltip="Last Time Executed"
          tooltipPosition="top"
          pSortableColumn="lte"
        >
          LTE
          <p-sortIcon field="lte" />
        </th>
        <th
          pTooltip="Next Execution Time"
          tooltipPosition="top"
          pSortableColumn="net"
        >
          NET
          <p-sortIcon field="net" />
        </th>
        <th style="width: 4rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-alert>
      <tr>
        <td>{{ alert.id }}</td>
        <td>{{ alert.description }}</td>
        <td>
          <p-tag [severity]="severityFromStatus(alert.status)">{{
            alert.status
          }}</p-tag>
        </td>
        <td>{{ alert.lastTimeExecuted | date: 'shortTime' }}</td>
        <td>{{ alert.nextExecutionTime | date: 'shortTime' }}</td>
        <td>
          <p-button
            icon="pi pi-arrow-up-right"
            severity="secondary"
            rounded
            [text]="true"
            (onClick)="alertsExplorerService.goToAlertEditPage(alert.id)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
