<p-panel header="List of alerts" [style]="{ display: 'block', height: '100%' }">
  <p-divider />

  <!-- Filters. -->
  <div class="filtering-container">
    <p-select-button
      title="Alert status"
      [options]="alertStatuses"
      [(ngModel)]="alertsExploreService.filter.alertStatus"
    />
    <p-input-group>
      <p-inputgroup-addon>
        <i class="pi pi-database"></i>
      </p-inputgroup-addon>
      <p-select
        placeholder="Data source"
        [showClear]="true"
        [options]="(alertsExploreService.knownDataSources$ | async) || []"
      />
    </p-input-group>
    <p-input-group>
      <p-inputgroup-addon>
        <i class="pi pi-envelope"></i>
      </p-inputgroup-addon>
      <p-select
        placeholder="Notification channel"
        [showClear]="true"
        [options]="
          (alertsExploreService.knowsNotificationChannels$ | async) || []
        "
      />
    </p-input-group>
  </div>

  <p-divider />

  <!-- Label filters. -->
  <div class="labels-container">
    @for (label of alertsExploreService.filter.labels; track $index) {
      <div>
        <p-input-group
          class="label"
          [dt]="{ addon: { padding: '{padding.xs} {padding.sm}' } }"
        >
          <input
            pInputText
            type="text"
            placeholder="key"
            [(ngModel)]="alertsExploreService.filter.labels[$index].key"
          />
          <p-inputgroup-addon class="label">=</p-inputgroup-addon>
          <input
            pInputText
            type="text"
            placeholder="value"
            [(ngModel)]="alertsExploreService.filter.labels[$index].value"
          />
          <p-button
            icon="pi pi-times"
            severity="secondary"
            variant="outlined"
            (onClick)="alertsExploreService.removeLabelByIndex($index)"
            size="small"
          />
        </p-input-group>
      </div>
    }
    <p-button
      icon="pi pi-plus"
      severity="secondary"
      (onClick)="alertsExploreService.addEmptyAlertLabel()"
      label="Label"
      size="small"
    />
  </div>

  <p-divider />

  <!-- Alerts count by state. -->
  <div class="stats-container">
    @for (
      entry of alertsExploreService.alertsCountByState.entries();
      track $index
    ) {
      <p-tag
        [value]="entry[1] + ' ' + entry[0]"
        [severity]="severityFromStatus(entry[0])"
      />
    }
  </div>

  <p-divider />

  <!-- Alerts table with pagination. -->
  <p-table
    [value]="(alertsExploreService.alerts$ | async) || []"
    stripedRows
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Status</th>
        <th
          pTooltip="Last Time Executed"
          tooltipPosition="top"
          pSortableColumn="lte"
        >
          LTE
          <p-sortIcon field="lte" />
        </th>
        <th
          pTooltip="Next Execution Time"
          tooltipPosition="top"
          pSortableColumn="net"
        >
          NET
          <p-sortIcon field="net" />
        </th>
        <th style="width: 4rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-alert>
      <tr>
        <td>{{ alert.id }}</td>
        <td>{{ alert.description }}</td>
        <td>
          <p-tag [severity]="severityFromStatus(alert.status)">{{
            alert.status
          }}</p-tag>
        </td>
        <td>{{ alert.lastTimeExecuted | date: 'shortTime' }}</td>
        <td>{{ alert.nextExecutionTime | date: 'shortTime' }}</td>
        <td>
          <p-button
            icon="pi pi-arrow-up-right"
            severity="secondary"
            rounded
            [text]="true"
            (onClick)="editAlert(alert.id)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
