.groups-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--p-padding-md);
}

.form {
  margin-bottom: var(--p-padding-md);

  &__item {
    display: flex;
    flex-direction: column;
    gap: var(--p-padding-xs);
    align-items: start;
  }
}
