<form class="form">
  <div class="form__item">
    <p class="text-secondary">Search by template name</p>
    <input
      pInputText
      placeholder="Enter template name"
      [formControl]="templateName"
    />
  </div>
</form>
<p-dataview [value]="notificationTemplates">
  <ng-template #list let-groups>
    <div class="groups-box">
      @for (template of notificationTemplates; track $index) {
        <datacat-notification-template [notificationTemplate]="template" />
      }
    </div>
  </ng-template>
</p-dataview>
