<!--<p-menubar [model]="mainItems">-->
<!--  <ng-template #end>-->
<!--    <p-button (click)="op.toggle($event)" icon="pi pi-cog" label="Settings" severity="secondary"/>-->
<!--    <p-popover #op [style]="{'&#45;&#45;p-popover-arrow-offset': '90%'}">-->
<!--      <div class="flex flex-col gap-4 w-[10rem]">-->
<!--        <ng-container *ngFor="let item of settingsItems[0].items">-->
<!--          <div class="flex items-center gap-4">-->
<!--            <i [class]="item.icon"></i>-->
<!--            <span><a [routerLink]="item.routerLink">{{ item.label }}</a></span>-->
<!--          </div>-->
<!--        </ng-container>-->
<!--      </div>-->
<!--    </p-popover>-->
<!--  </ng-template>-->
<!--</p-menubar>-->

<p-drawer [(visible)]="visible" [closable]="false">
  <div>
    <!-- Контент drawer -->
    <p>Это содержимое drawer</p>
    <p-button (click)="visible = false" label="Закрыть"></p-button>
  </div>
</p-drawer>

вфывфывфы

