<p-panel [style]="{ display: 'block', height: '100%' }">
  <ng-template #header> Notifications </ng-template>
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Channels</p-tab>
      <p-tab value="1">Templates</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <p-button label="Create channels group" severity="secondary" />
        <p-button label="Create channel" severity="secondary" />
        <p-scroll-panel>
          <div class="channels-container">
            @for (channelsGroup of channelsGroups; track $index) {
              <datacat-channels-group [channelsGroup]="channelsGroup" />
            }
          </div>
        </p-scroll-panel>
      </p-tabpanel>
      <p-tabpanel value="1">
        <div class="actions-container">
          <p-button
            label="Create template"
            severity="secondary"
          />
        </div>
        <p-divider />
        <div class="templates-container">
          @for (notificationTemplate of notificationTemplates; track $index) {
            <datacat-notification-template
              [notificationTemplate]="notificationTemplate"
            />
          }
        </div>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</p-panel>
