<div class="container">
  @for (filter of filters; track filter) {
    <div>
      <p-input-group [dt]="{ addon: { padding: '{padding.xs} {padding.sm}' } }">
        <p-inputgroup-addon
          [dt]="{ addon: { padding: { y: '{padding.lg}' } } }"
        >
          {{ filter.prefix }}
        </p-inputgroup-addon>
        <p-select
          [options]="filter.operation.variants"
          [(ngModel)]="filter.operation.selectedVariant"
          styleClass="filter-operation-select"
        >
          <ng-template #dropdownicon />
        </p-select>
        <ng-container [ngComponentOutlet]="getOperandComponent(filter)" />
        <p-button
          icon="pi pi-times"
          variant="outlined"
          severity="secondary"
          pTooltip="Remove filter"
          (onClick)="removeFilter($index)"
        />
      </p-input-group>
    </div>
  }
  <p-button
    (click)="addFilterPopover.toggle($event)"
    icon="pi pi-filter"
    severity="secondary"
    pTooltip="Add filter"
    tooltipPosition="top"
    variant="outlined"
    [text]="true"
  />
  <p-button
    (click)="clearFilters()"
    icon="pi pi-times"
    severity="secondary"
    pTooltip="Clear all filters"
    tooltipPosition="top"
    variant="outlined"
    [text]="true"
  />
  <p-popover #addFilterPopover>
    <p-button (onClick)="addFilter()">Add some filter</p-button>
  </p-popover>
</div>
