.attributes-box {
  display: flex;
  flex-direction: column;
  gap: var(--p-padding-md);

  &__attribute {
    display: flex;
    flex-direction: column;
    gap: var(--p-padding-xs);
  }

  &__channels {
    display: flex;
    flex-direction: column;
    gap: var(--p-padding-sm);
    align-items: start;
  }
}

.dialog {
  display: flex;
  flex-direction: column;
  gap: var(--p-padding-md);

  &__settings {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--p-padding-md);
    margin-bottom: var(--p-padding-md);
  }

  &__actions {
    display: flex;
    justify-content: end;
    gap: var(--p-padding-md);
  }
}
