@switch (loadingState) {
  @case (LoadingState.Loading) {
    <div class="attributes-box">
      <div class="attributes-box__attribute">
        <p class="text-secondary">Group name</p>
        <p-skeleton width="20rem" height="1.34rem" />
      </div>
      <div class="attributes-box__channels">
        <p class="text-secondary">Channels</p>
        <p-button label="Add channel" severity="secondary" />
        <p-skeleton width="20rem" height="1.34rem" />
        <p-skeleton width="20rem" height="1.34rem" />
        <p-skeleton width="20rem" height="1.34rem" />
      </div>
    </div>
  }
  @case (LoadingState.Error) {
    <p-tag value="Unable to load edit form" severity="secondary" />
  }
  @case (LoadingState.Success) {
    <div class="attributes-box">
      <div class="attributes-box__attribute">
        <p class="text-secondary">Group name</p>
        <p>{{ groupName }}</p>
      </div>
      <div class="attributes-box__channels">
        <p class="text-secondary">Channels</p>
        <p-button
          label="Add channel"
          severity="secondary"
          (onClick)="showChannelCreationDialog()"
        />
        @if (notificationChannels.length === 0) {
          <p-tag value="No channels yet" severity="info" />
        } @else {}
      </div>
    </div>
  }
}

<p-dialog
  header="Add notification channel"
  [(visible)]="isChannelCreationDialogVisible"
  [modal]="true"
>
  <form class="dialog" [formGroup]="addChannelForm">
    <p class="text-secondary">Channel driver</p>
    <p-select
      [options]="drivers"
      formControlName="driver"
      placeholder="Select driver"
      (onChange)="switchAddChannelFormSettingsDriver(addChannelFormDriver)"
    />
    <p class="text-secondary">Channel settings</p>
    <div class="dialog__settings" formGroupName="settings">
      @switch (addChannelFormDriver) {
        @case (NotificationChannelDriver.EMAIL) {
          <input
            pInputText
            formControlName="DestinationEmail"
            placeholder="Destination address"
          />
          <input
            pInputText
            formControlName="SmtpServer"
            placeholder="SMTP server"
          />
          <p-inputnumber formControlName="Port" placeholder="Port" />
          <input
            pInputText
            formControlName="PasswordPath"
            placeholder="Password path"
          />
        }
        @case (NotificationChannelDriver.TELEGRAM) {
          <input
            pInputText
            formControlName="TelegramTokenPath"
            placeholder="Telegram token path"
          />
          <input pInputText formControlName="ChatId" placeholder="Chat ID" />
        }
        @case (NotificationChannelDriver.WEBHOOK) {
          <input pInputText formControlName="Url" placeholder="Url" />
        }
      }
    </div>
    <div class="dialog__actions">
      <p-button
        severity="secondary"
        label="Cancel"
        (onClick)="hideChannelCreationDialog()"
      />
      <p-button label="Add" (onClick)="addChannel()" />
    </div>
  </form>
</p-dialog>
