<p-panel [header]="welcomeMessage" class="p-0">
  <section class="mb-6">
    <h2 class="text-2xl font-semibold mb-4">Popular Tutorials</h2>
    <ul class="space-y-2">
      <ul class="space-y-2">
        @for (tutorial of tutorials; track tutorial) {
          <li>
            <a class="text-blue-500 hover:underline" href="#">{{ tutorial }}</a>
          </li>
        }
      </ul>
    </ul>
  </section>

  <section>
    <h2 class="text-2xl font-semibold mb-4">Helpful Links</h2>
    <ul class="space-y-2">
      @for (link of helpfulLinks; track link) {
        <li>
          <a class="text-blue-500 hover:underline" href="#">{{ link }}</a>
        </li>
      }
    </ul>
  </section>
</p-panel>
