<p-button
  icon="pi pi-plus"
  label="Create notification template"
  severity="secondary"
  (onClick)="showCreationDialog()"
/>
<p-dialog
  [visible]="isDialogVisible"
  [closable]="false"
  [modal]="true"
  header="Create notification template"
>
  <form class="form">
    <input
      pInputText
      placeholder="Enter template name"
      [formControl]="templateName"
    />
    <div class="actions-box">
      <p-button
        label="Cancel"
        severity="secondary"
        (onClick)="hideCreationDialog()"
      />
      <p-button
        [loading]="isCreationInitiated"
        label="Create"
        (onClick)="createNotificationTemplate()"
      />
    </div>
  </form>
</p-dialog>
