<p-panel [style]="{ display: 'block', height: '100%' }" header="Data Sources">
    <div class="description-container">
        <p class="text-secondary">Explore, create and edit data sources</p>
    </div>
    <div class="slot">
        <app-create-data-source-button></app-create-data-source-button>
    </div>
    <div class="slot">
        <app-data-sources-filtering (filter)="onFilterChange($event)"></app-data-sources-filtering>
    </div>
    <div class="slot">
        <app-data-sources-list [filter]="filter"></app-data-sources-list>
    </div>
</p-panel>
