<p-panel [style]="{ display: 'block', height: '100%' }">
  <ng-template pTemplate="header">
    <div class="header">
      @if (isLoading) {
        Loading Data Source...
      } @else {
        <div>
          Edit data source
          <span class="text-secondary"
            >({{ dataSource.type | uppercase }})</span
          >
        </div>
        <app-delete-data-source-button [dataSourceId]="dataSourceId" />
      }
    </div>
  </ng-template>

  @if (isLoading) {
    <div class="loading-container">
      <p-progressBar mode="indeterminate"></p-progressBar>
      <p class="loading-message">
        <i class="pi pi-spinner pi-spin"></i>
        Fetching data source details...
      </p>
    </div>
  } @else {
    <div class="edit-data-source-form-box">
      <app-edit-data-source-form
        [editDataSource]="editDataSource"
      ></app-edit-data-source-form>
    </div>
  }
</p-panel>
