<p-panel [style]="{ display: 'block', height: '100%' }">
    @if (isLoading) {
        <ng-template pTemplate="header">
            Loading Data Source...
        </ng-template>
        <div class="loading-container">
            <p-progressBar mode="indeterminate"></p-progressBar>
            <p class="loading-message">
                <i class="pi pi-spinner pi-spin"></i>
                Fetching data source details...
            </p>
        </div>
    } @else {
        <ng-template pTemplate="header">
            Edit Data Source {{ dataSourceId }}
        </ng-template>

        <!--        <div class="edit-data-source-form-box">-->
                <!--            <app-edit-data-source-form></app-edit-data-source-form>-->
                <!--        </div>-->

        <p-divider align="left">
            <span class="danger-section-title">Danger Zone</span>
        </p-divider>

        <div class="danger-action-item">
            <app-delete-data-source-button [dataSourceId]="dataSourceId"></app-delete-data-source-button>
        </div>
    }
</p-panel>
