<div class="container">
  @if (hasData()) {
    @switch (visualizationType) {
      @case (VisualizationType.LINE) {
        <p-chart
          #chart
          type="line"
          [options]="chartjsOptions"
          [data]="chartjsData"
        >
        </p-chart>
      }
      @case (VisualizationType.BAR) {
        <p-chart
          #chart
          type="bar"
          [options]="chartjsOptions"
          [data]="chartjsData"
        >
        </p-chart>
      }
      @case (VisualizationType.PIE) {
        <p-chart
          #chart
          type="pie"
          [options]="chartjsOptions"
          [data]="chartjsData"
        >
        </p-chart>
      }
      @default {
        <p>Unsupported visualization</p>
      }
    }
  } @else {
    <p class="text-secondary">No data</p>
  }
</div>
