<div class="container">
  @switch (visualizationType) {
    @case (VisualizationType.LINE) {
      <p-chart
        [style]="{ display: 'block', height: '100%' }"
        type="line"
        [options]="chartjsOptions"
        [data]="chartjsData"
      >
      </p-chart>
    }
    @case (VisualizationType.BAR) {
      <p-chart type="bar" [options]="chartjsOptions" [data]="chartjsData">
      </p-chart>
    }
    @case (VisualizationType.PIE) {
      <p-chart type="pie" [options]="chartjsOptions" [data]="chartjsData">
      </p-chart>
    }
    @default {
      <p>Unsupported visualization</p>
    }
  }
</div>
