.edit-alert-form-box {
  margin: var(--p-padding-md);
}

.actions {
  display: flex;
  flex-direction: row;
  gap: var(--p-padding-md);
  margin-left: var(--p-padding-md);
  margin-right: var(--p-padding-md);
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
