.box {
  &__status-and-data-source {
    display: flex;
    gap: var(--p-padding-md);
    justify-content: start;
  }

  &__tags {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: var(--p-padding-md);
    margin-bottom: var(--p-padding-md);
    margin-top: var(--p-padding-md);
  }
}
