<p-fieldset legend="Filters">
  <form [formGroup]="form" class="box">
    <div class="box__status-and-data-source">
      <p-select-button [options]="statuses" formControlName="status" />
      <p-select
        [showClear]="true"
        [options]="dataSources"
        optionLabel="name"
        optionValue="id"
        placeholder="Select data source"
        emptyMessage="No data sources found"
        formControlName="dataSourceId"
      />
    </div>
  </form>
  <div class="box__tags">
    <div>
      <p-inputgroup>
        <input pInputText placeholder="Enter tag" [(ngModel)]="tagToAdd" />
        <p-inputgroup-addon>
          <p-button
            icon="pi pi-plus"
            severity="secondary"
            (onClick)="addTag(tagToAdd)"
          />
        </p-inputgroup-addon>
      </p-inputgroup>
    </div>
    @for (tag of tags; track tag) {
      <p-chip [label]="tag" [removable]="true" (onRemove)="removeTag(tag)" />
    }
  </div>
</p-fieldset>
