@import "fonts";
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  //--dark-color: #000000;
  --light-color: #FFFFFF;
}

body {
  font-family: "JetBrains Mono", monospace;
  //background: var(--dark-color);
  color: var(--light-color);
}
