<p-panel [style]="{ display: 'block', height: '100%' }" header="Log Explorer">
    <div class="description-container">
        <p class="text-secondary">Explore and analyze system logs in real-time</p>
    </div>

    <div class="slot">
        <app-logs-data-source-selector
                (selectedDataSourceChange)="onDataSourceChange($event)"
                [(selectedDataSource)]="currentFilter.dataSourceName">
        </app-logs-data-source-selector>
    </div>

    <div class="slot">
        <app-logs-filter
                (filterChange)="onFilterChange($event)"
                [initialFilter]="currentFilter">
        </app-logs-filter>
    </div>
    <div class="slot mt-4">
        @if (isLoading) {
            <div class="spinner-overlay">
                <p-progressSpinner styleClass="custom-spinner"></p-progressSpinner>
                <p class="spinner-text">Loading logs...</p>
            </div>
        } @else {
            <app-logs-list
                    (pageChange)="onPageChange($event)"
                    (sortChange)="onSortChange($event)"
                    [logs]="logs"
                    [pagination]="pagination">
            </app-logs-list>
        }
    </div>
</p-panel>
