.form {
  display: flex;
  flex-direction: column;
  gap: var(--p-padding-md);

  &__item {
    display: flex;
    flex-direction: column;
    gap: var(--p-padding-xs);
    align-items: start;
  }
}

.align {
  display: flex;
  align-items: center;
  gap: var(--p-padding-md);
}

.inline {
  display: inline-block;
}
