.container {
  display: flex;
  flex-direction: column;
  padding: var(--p-padding-md);
  gap: var(--p-padding-md);
}

.align {
  display: flex;
  align-items: center;
  gap: var(--p-padding-md);
}

.inline {
  display: inline-block;
}

.edit-form {
  margin: var(--p-padding-md);
}

.delete-area {
  margin: var(--p-padding-md);
}
