.groups-box {
  display: flex;
  flex-direction: column;
  gap: var(--p-padding-md);
}

.form {
  margin-bottom: var(--p-padding-md);

  &__item {
    display: flex;
    flex-direction: column;
    gap: var(--p-padding-xs);
    align-items: start;
  }
}

.search-box {
  display: flex;
  gap: var(--p-padding-md);
}
