.container {
  display: flex;
  flex-direction: column;
  margin: var(--p-padding-md);
}

.panels-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-header {
  display: flex;
  justify-content: space-between;

  &__end {
    display: flex;
    gap: var(--p-padding-md);
  }
}
