<div class="screen">
  <p-splitter [panelSizes]="[20, 80]" [minSizes]="[20, 70]" [gutterSize]="2" [style]="{ height: '100%' }">
    <!-- Navigation panel. -->
    <ng-template pTemplate>
      <div class="navigation">
        <p-select placeholder="Select a namespace" size="small" />
        <p-tree [value]="treeMenuNodes" selectionMode="single" class="w-full">
          <ng-template let-node pTemplate="url">
            <a [routerLink]="node.data">{{ node.label }}</a>
          </ng-template>
          <ng-template let-node pTemplate="default">
            {{ node.label }}
          </ng-template>
        </p-tree>
      </div>
    </ng-template>

    <!-- Content panel. -->
    <ng-template pTemplate>
      <div class="page">
        <div>
          <p-breadcrumb [model]="breadcrumbItems" [home]="breadcrumbHome" />
        </div>
        <div class="page__content">
          <router-outlet />
        </div>
      </div>
    </ng-template>
  </p-splitter>
</div>
