@import 'primeicons/primeicons.css';

@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/JetBrainsMono-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/JetBrainsMono-Bold.woff2') format('woff2');
}

:root {
  font-family: 'JetBrains Mono', monospace;

  // Font size scales all of PrimeNG components.
  font-size: 14px;
}

* {
  padding: 0;
  margin: 0;
}

.text-secondary {
  color: var(--p-surface-400);
}
