<div class="layout">
  <form class="filters" [formGroup]="filtersForm">
    <div class="filters__item">
      <p>Alert Status</p>
      <p-selectbutton
        [options]="possibleAlertStatuses"
        formControlName="status"
      />
    </div>
    <div class="filters__item">
      <p>Data Source</p>
      <datacat-data-source-select
        [filter]="{ purpose: 'metrics' }"
        formControlName="dataSourceId"
      />
    </div>
    <div class="filters__item">
      <p>Alert Tags</p>
      <p-inputgroup>
        <p-inputgroup-addon>
          <p-button
            icon="pi pi-plus"
            label="Add"
            severity="secondary"
            [disabled]="filtersForm.disabled"
            (onClick)="addFilterTag()"
          />
        </p-inputgroup-addon>
        <input pInputText placeholder="tag..." [formControl]="addTagControl" />
      </p-inputgroup>
    </div>
  </form>
  @if (filtersFormTags.length !== 0) {
    <div class="tags">
      @for (tag of filtersFormTags; track tag) {
        <p-chip
          [removable]="true"
          [label]="tag"
          (onRemove)="removeFilterTag(tag)"
        />
      }
    </div>
  }
  <div class="filters__actions">
    <p-button
      icon="pi pi-sync"
      label="Refresh"
      severity="secondary"
      [loading]="filtersForm.disabled"
      (onClick)="refreshAlerts()"
    />
  </div>
  <p-table
    [value]="alerts"
    stripedRows
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10]"
    [pageLinks]="12"
    [alwaysShowPaginator]="false"
    [lazy]="true"
    [first]="0"
    [totalRecords]="totalAlertsCount"
    [rows]="alertsPerPageCount"
    [loading]="filtersForm.disabled"
  >
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" [style]="{ textAlign: 'center' }">
          <p-tag value="No alerts found" severity="info" />
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Description</th>
        <th>Previous Execution</th>
        <th>Next Execution</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-alert>
      <tr>
        <td>
          {{ alert.id | slice: 0 : 6
          }}<span class="text-secondary" [pTooltip]="alert.id">...</span>
        </td>
        <td>
          <p-tag [severity]="getSeverityForStatus(alert.status)">{{
            alert.status
          }}</p-tag>
        </td>
        <td>{{ alert.description }}</td>
        <td>{{ alert.prevExecutionTime | date: 'short' }}</td>
        <td>{{ alert.nextExecutionTime | date: 'short' }}</td>
        <td>
          <div class="actions">
            <p-button
              icon="pi pi-eye"
              label="View"
              size="small"
              severity="secondary"
              variant="outlined"
              (onClick)="viewAlert(alert)"
            />
            <p-button
              icon="pi pi-pencil"
              label="Edit"
              size="small"
              severity="secondary"
              variant="outlined"
              (onClick)="editAlert(alert)"
            />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  header="Alert Details"
  [modal]="true"
  [(visible)]="isAlertViewDialogVisible"
>
  <div class="view-alert">
    <div class="view-alert__attribute">
      <p-tag [severity]="getSeverityForStatus(viewedAlert?.status)">{{
        viewedAlert?.status
      }}</p-tag>
    </div>
    <div class="view-alert__attribute">
      <p>Alert ID</p>
      <div>{{ viewedAlert?.id }}</div>
    </div>
    <div class="view-alert__attribute">
      <p>Description</p>
      <div>{{ viewedAlert?.description }}</div>
    </div>
    <div class="view-alert__attribute">
      <p>Query</p>
      <div>{{ viewedAlert?.query }}</div>
    </div>
    <div class="view-alert__attribute">
      <p>Notification Template</p>
      <div>{{ viewedAlert?.template }}</div>
    </div>
    <div class="view-alert__attribute">
      <p>Next Execution Time</p>
      <div>{{ viewedAlert?.nextExecutionTime | date: 'short' }}</div>
    </div>
    <div class="view-alert__attribute">
      <p>Previous Execution Time</p>
      <div>{{ viewedAlert?.prevExecutionTime | date: 'short' }}</div>
    </div>
    <div class="view-alert__attribute">
      <p>Execution Interval</p>
      <div>{{ viewedAlert?.executionInterval }}</div>
    </div>
    <div class="view-alert__attribute">
      <p>Notification Trigger Period</p>
      <div>{{ viewedAlert?.notificationTriggerPeriod }}</div>
    </div>
  </div>
</p-dialog>
