<p-button
  icon="pi pi-trash"
  [text]="true"
  severity="secondary"
  (onClick)="showDeletionDialog()"
/>
<p-dialog
  header="Delete dashboard?"
  [appendTo]="'body'"
  [(visible)]="isDeletionDialogVisible"
  [closable]="false"
  [modal]="true"
>
  <p>Are you sure you want to delete this dashboard?</p>
  @if (isDeletionError) {
    <p class="text-secondary error">Unable to delete dashboard</p>
  }
  <div class="actions-container">
    <p-button
      label="Cancel"
      severity="secondary"
      (onClick)="hideDeletionDialog()"
    />
    <p-button
      [loading]="isDeletionInitiated"
      label="Delete"
      severity="danger"
      (onClick)="deleteDashboard()"
    />
  </div>
</p-dialog>
