@if (alert && dataSource && notificationGroup) {
  <div class="box">
    <div class="box__item">
      <p class="text-secondary">Alert ID</p>
      <p>{{ alert.id }}</p>
    </div>
    <div class="box__item">
      <p class="text-secondary">Description</p>
      <p>{{ alert.description }}</p>
    </div>
    <div class="box__item">
      <p class="text-secondary align">
        Query
        <i class="pi pi-clone"></i>
      </p>
      <p>{{ alert.query }}</p>
    </div>
    <div class="box__item">
      <p class="text-secondary align">
        Execution Interval
        <i
          class="pi pi-info-circle"
          [pTooltip]="
            'Alert is executed every ' + alert.executionInterval + ' seconds'
          "
        ></i>
      </p>
      <p>{{ alert.executionInterval }}s</p>
    </div>
    <div class="box__item">
      <p class="text-secondary align">
        Notification Trigger Period
        <i
          class="pi pi-info-circle"
          [pTooltip]="
            'Notification will be sent only if alert is alerting for ' +
            alert.notificationTriggerPeriod +
            ' seconds straight'
          "
        ></i>
      </p>
      <p>{{ alert.notificationTriggerPeriod }}s</p>
    </div>
    <div class="box__item">
      <p class="text-secondary">Previous Execution Time</p>
      <p>{{ alert.prevExecutionTime | date: 'short' }}</p>
    </div>
    <div class="box__item">
      <p class="text-secondary">Next Execution Time</p>
      <p>{{ alert.prevExecutionTime | date: 'short' }}</p>
    </div>
    <div class="box__item">
      <p class="text-secondary">Data Source</p>
      <p>{{ dataSource.name }} ({{ dataSource.connectionUrl }})</p>
    </div>
    <div class="box__item">
      <p class="text-secondary">Notification Group</p>
      <p>{{ notificationGroup.name }}</p>
    </div>
  </div>
} @else {
  <p-tag value="Loading" />
}
