.container {
  display: flex;
  gap: var(--p-padding-md);
  padding: var(--p-padding-md);
}

.preview {
  flex: 1;
}

.visualization {
  padding: var(--p-padding-md);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--p-padding-md);
  margin-top: var(--p-padding-md);
}

.attr {
  display: flex;
  flex-direction: column;
  gap: var(--p-padding-xs);
}

.attr p {
  color: var(--p-surface-400);
}
