<p-panel [style]="{ display: 'block', height: '100%' }">
  <ng-template pTemplate="header">
    <div class="header">
      <div class="header__name">
        <p>{{ dashboard?.name }}</p>
        <i
          class="pi pi-info-circle text-secondary"
          [pTooltip]="dashboard?.description"
        ></i>
      </div>
      <div>
        <datacat-edit-dashboard-button
          [dashboardId]="dashboardId"
          (onEdit)="refreshDashboardOnly()"
        />
        <datacat-delete-dashboard-button
          [dashboardId]="dashboardId"
          (onDelete)="showDashboardsList()"
        />
      </div>
    </div>
  </ng-template>
  <datacat-panels-grid />
</p-panel>
